@page "/"

<PageTitle>Blazor LifeCycle Events </PageTitle>

<h2>Blazor LifeCycle Events</h2>
<ul>
    <li>
        <a href="/lifecycle">Life Cycle Methods Demo</a>
    </li>
    <li>
        <a href="/statechanged">StateChanged </a>
    </li>
</ul>